<div class="container mx-auto my-8 bg-blue-100 p-8 rounded-lg shadow-lg">
  <div class="text-center">
    <h1 class="text-4xl font-bold mb-6 text-blue-600">MISIÓN</h1>
    <p class="text-lg mb-8 text-gray-800">Sudamericana de Software S.A. tiene como objetivo principal proporcionar herramientas y servicios tecnológicos de información a nuestros clientes, los cuales se convierten en pilares fundamentales para su éxito empresarial, posicionándonos como una extensión natural de ellos.</p>
  </div>

  <div class="text-center">
    <h1 class="text-4xl font-bold mb-6 text-red-600">VISIÓN</h1>
    <p class="text-lg mb-8 text-gray-800">Sudamericana de Software S.A. aspira a ser líder en el desarrollo de soluciones informáticas y servicios tecnológicos de información en el mercado local e internacional, gracias al aporte y al profesionalismo de nuestros colaboradores.</p>
  </div>

  <div class="text-center">
    <h1 class="text-4xl font-bold mb-6 text-white ">VALORES</h1>
    <ul class="list-disc pl-8 mb-8 text-gray-800">
        <li class="mb-2">Humildad.</li>
        <li class="mb-2">Respeto.</li>
        <li class="mb-2">Honestidad.</li>
        <li class="mb-2">Responsabilidad.</li>
        <li class="mb-2">Compromiso.</li>
        <li class="mb-2">Lealtad.</li>
        <li class="mb-2">Equidad.</li>
    </ul>
  </div>

  <div class="text-center">
    <p class="text-lg text-gray-800">SASF: Sudamericana de Software S.A.</p>
  </div>
</div>
