<div class="container mx-auto mt-8">
    <h2 class="text-xl font-bold mb-4">Entregas Ejecutadas</h2>
    <ul>
      <li *ngFor="let paquete of paquetesEntregados">
        <div class="border rounded p-4 mb-4">
          <p><strong>ID del Paquete:</strong> {{ paquete.id }}</p>
          <p><strong>Peso:</strong> {{ paquete.peso }}</p>
          <p><strong>Destino:</strong> {{ paquete.destino }}</p>
          <p><strong>Información del Emisor:</strong> {{ paquete.informacionEmisor }}</p>
          <p><strong>Información del Receptor:</strong> {{ paquete.informacionReceptor }}</p>
          <p><strong>Etiqueta:</strong> {{ paquete.etiqueta }}</p>
          <p><strong>Estado:</strong> {{ paquete.estado }}</p>
        </div>
      </li>
    </ul>
  </div>
  