<div class="p-20"><!-- user-list.component.html -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
    <div>
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre:</label>
      <input type="text" id="name" name="name" formControlName="name" required
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
  
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico:</label>
      <input type="email" id="email" name="email" formControlName="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña:</label>
      <input type="password" id="password" name="password" formControlName="password" required
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div>
      <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL de la imagen:</label>
      <input type="text" id="image" name="image" formControlName="image"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div>
      <label for="birthDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Nacimiento:</label>
      <input type="date" id="birthDate" name="birthDate" formControlName="birthDate" required
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
       <div>
  <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rol:</label>
  <select id="role" name="role" formControlName="role"
  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  <option value="ADMINISTRADOR">Administrador</option>
  <option value="SECRETARIA">Secretaria</option>
  <option value="REPARTIDOR">Repartidor</option>
  </select>
  </div>
    <button type="submit"
      class="w-full text-white bg-gray-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Registrar</button>
  </form></div>



<div *ngFor="let user of users" class="border rounded-lg p-6 m-4 bg-white shadow-md">
  <h2 class="text-3xl font-semibold mb-2 text-blue-700">{{ user.name }}</h2>
  <p class="text-gray-600 mb-2">{{ user.email }}</p>
  <p class="mb-4">Estado: <span class="{{ user.blocked ? 'text-red-500' : 'text-green-500' }}">
    {{ user.blocked ? 'Bloqueado' : 'Desbloqueado' }}
  </span></p>


  <!-- Botones para bloquear/desbloquear, editar y eliminar usuario -->
  <div class="flex space-x-4">
    <button (click)="toggleBlock(user)" class="{{ user.blocked ? 'bg-green-500' : 'bg-red-500' }}
      hover:{{ user.blocked ? 'bg-green-700' : 'bg-red-700' }} text-white font-bold py-2 px-4 rounded">
      {{ user.blocked ? 'Desbloquear' : 'Bloquear' }}
    </button>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Editar</button>
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Eliminar</button>
  </div>
</div>
